<mat-grid-list cols="1" rowHeight="150px">
    <mat-grid-tile rowspan="2">
        <form [formGroup]="form"> 
            <div class="form-group">
                <label>Login</label>
                <input formControlName="login" type="text" class="form-control">
                <div><br></div>
                <label>Password</label>
                <input formControlName="password" type="password" class="form-control">
            </div>
            <div style="margin: 0 auto;"><button type="button" (click)="onLogin(form.value)" color="accent" mat-raised-button matDialogClose="yes">Login</button></div>
        </form>
        </mat-grid-tile>
</mat-grid-list>

