<mat-grid-list cols="1" rowHeight="8:1">
    <mat-grid-tile><img src="http://localhost:4200/img/sollan.png"></mat-grid-tile>
    <mat-grid-tile>
            <span>This test contains 40 questions. You have 40 minutes. Type in your name and click start. Good luck!</span>
    </mat-grid-tile>
    <mat-grid-tile>
        <input type="text" #name></mat-grid-tile>
    <mat-grid-tile><button (click)="start(name.value)" color="accent" mat-raised-button matDialogClose="yes">Start</button></mat-grid-tile>
</mat-grid-list>