.example-spacer {
    flex: 1 1 auto;
  }

.account-view span{
      margin: 5px;
}

.account-view .info{
  color: white;
}

.account-view span button{
    border: none;
    background-color: white;
    color: black;
    display: block;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
}