.example-spacer {
    flex: 1 1 auto;
  }

.account-view span{
      margin: 5px;
}

.account-view .info{
  color: white;
}

.account-view span button{
    font-size: 12px;
    padding: 5px;
}

.account-view .actions{
  padding: 20px;
  border-top: 1px solid #03a9f4;
}

.account-view .content{
  max-height: calc(100vh - 60px);
  overflow-y: auto;
}