.new-grade{
    padding: 10px;
}

.new-grade .header{
    padding: 10px;
    font-size: 20px;
}

.new-grade table td{
    padding: 10px;
}

.new-grade textarea{
    resize: none;
    width: 200px;
}

.new-grade .actions{
    width: max-content;
    display: block;
    margin: 0 auto;
    padding: 10px;
}
