<div class="new-grade">
  <div class="header">
    <p>Dodaj ocenę</p>
</div>
<table style="width: 100%;">
  <tr>
    <td>Ocena</td>
    <td><input type="number" max="6" min="1"  [(ngModel)]="grade.value"></td>
  </tr>
  <tr>
    <td>Waga</td>
    <td>  
      <mat-select  [(ngModel)]="grade.importance">
        <mat-option *ngFor="let w of wages" [value]="w">
          {{w}}
        </mat-option>
    </mat-select>
  </td>
  </tr>
  <tr>
    <td>Opis</td>
    <td><textarea [(ngModel)]="grade.description" maxlength="100"></textarea></td>
  </tr>
</table>
<div class="actions">
  <button class="blue" (click)="onAdd()" [disabled]="!canAdd()">Zapisz</button>
  <button class="orange" (click)="onCancel()">Anuluj</button>
</div>
</div>