.note{
    min-height: 300px;
    width: 500px;
}

.note .desc {
    padding: 10px;
}

.note .desc textarea{
    width: 100%;
    height: 200px;
    border: 1px solid #c6c6c6;
    resize: none;
}

.note .desc span{
    margin-top: 5px;
    display: block;
}

.note .header{
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid #c6c6c6;
}

.note .actions{
    width: max-content;
    margin: 0 auto;
}