.student-view {
    padding: 20px;
}
.student-view table{
    width: 99%;
    margin: 0 auto;
    margin-top: 20px;
}

.student-view p {
    padding: 5px;
    width: 100%;
}

.student-view p.title {
   background-color: #03a9f4;
   color: white;
   
}

.student-view .actions {
    padding-top: 10px;
}

.student-view ::ng-deep .mat-expansion-panel{
    box-shadow: none;
}

.student-view ::ng-deep .mat-expansion-panel-header{
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #03a9f4;
}
