<div class="add-class">
  <div class="header">
      <p>{{title}}</p>
  </div>
 <div class="table-container">
    <table>
        <tr>
          <td class="title">Name</td>
          <td class="value"><input type="text" [(ngModel)]="newClass.name" maxlength="2"></td>
      </tr>
      <tr>
        <td class="title">Profile</td>
        <td class="value">
          <mat-select  [(ngModel)]="newClass.profile">
            <mat-option *ngFor="let p of profiles" [value]="p">
              {{p}}
            </mat-option>
          </mat-select>
        </td>
    </tr>
      </table>
      <div class="action">
          <button class="cancel" type="submit" (click)="onCancel()" mat-raised-button>Cancel</button>
          <button class="add" type="submit" (click)="onAdd()" (keyup.enter)="onAdd()" mat-raised-button>Add</button>
      </div>
 </div>
</div>
