<div class="change-password">
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Zmiana hasła
      </mat-panel-title>
    </mat-expansion-panel-header>
   <div style="padding-top: 10px;">
    <table class="password-table">
      <tr>
        <p class="title">Stare hasło</p>
        <p><input type="password" [(ngModel)]="params.oldPassword"></p>
      </tr>
      <tr>
        <p class="title">Nowe hasło</p>
        <p><input type="password" [(ngModel)]="params.newPassword"></p>
      </tr>
      <tr>
        <p class="title">Powtórz nowe hasło</p>
        <p><input type="password" [(ngModel)]="params.repeatPassword"></p>
      </tr>
    </table>
    <div style="clear: both;" (click)="onChangePassword()">
      <button class="blue">Zmień hasło</button>
    </div></div>
  </mat-expansion-panel>

</div>

