<div class="user-management">
    <div class="actions">
        <button class="blue" (click)="onAddUser()">ADD USER</button>
    </div>
    <div class="tabs">
        <mat-tab-group>
            <mat-tab  label="Students">
                <user-management-student-view></user-management-student-view>
            </mat-tab>
            <mat-tab  label="Teachers">
                <user-management-teacher-view></user-management-teacher-view>
            </mat-tab>
            <mat-tab  label="Parents">
                <user-management-parent-view></user-management-parent-view>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>