<div class="user-management">
    <div class="actions">
        <button class="blue" (click)="onAddUser()">Dodaj użytkownika</button>
    </div>
    <div class="tabs">
        <mat-tab-group (selectedTabChange)="tabChange($event)">
            <mat-tab  label="Uczniowie" >
                <user-management-student-view *ngIf="tabIndex == 0" [students]="students" [classes]="classes" (userDeleted)="studentDeleted($event)"></user-management-student-view>
            </mat-tab>
            <mat-tab  label="Nauczyciele">
                <user-management-teacher-view *ngIf="tabIndex == 1" [teachers]="teachers" [classes]="classes" [subjects]="subjects" (userDeleted)="teacherDeleted($event)"></user-management-teacher-view>
            </mat-tab>
            <mat-tab  label="Rodzice">
                <user-management-parent-view *ngIf="tabIndex == 2" [parents]="parents" (userDeleted)="parentDeleted($event)"></user-management-parent-view>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>