<md-grid-list cols="1" rowHeight="6:1">
    <!-- <md-grid-tile><img src="http://localhost:4200/img/sollan.png"></md-grid-tile> -->
    <md-grid-tile><p>This test contains 40 questions. You have 40 minutes. Good luck!</p></md-grid-tile>
    <md-grid-tile><button color="accent" (click)="startTimer()" md-raised-button md-dialog-close="yes">Start Test</button></md-grid-tile>
    <md-grid-tile><button [routerLink]="['/question', 1]" color="accent"  md-raised-button md-dialog-close="yes">Start</button></md-grid-tile>
</md-grid-list>



