<div class="parent-view">
    <mat-tab-group (selectedTabChange)="tabChange($event)">
      <mat-tab label="Aktualności">
        <div *ngIf="tabIndex == 0">
          <posts-main-view [isAdmin]="false"></posts-main-view>
        </div>
      </mat-tab>
        <mat-tab label="Moje konto">
          <user-info  *ngIf="tabIndex == 1" [user]="user" [values]="info"></user-info>
        </mat-tab>
        <mat-tab label="Dzieci" >
            <div  *ngIf="tabIndex == 2">
                <mat-expansion-panel *ngFor="let student of children">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                          {{ student.firstName + ' ' + student.secondName }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-tab-group>
                        <mat-tab label="Oceny">
                                <student-grade [student]="student"></student-grade>
                          </mat-tab>
                          <mat-tab label="Uwagi">
                            <notes-view [student]="student" [deleteDisabled]="true"></notes-view>
                          </mat-tab>
                          <mat-tab label="Obecność">
                            <student-attendance [student]="student"></student-attendance>
                          </mat-tab>
                    </mat-tab-group>
                </mat-expansion-panel>
            </div>
           
          </mat-tab>
    </mat-tab-group>
</div>