.student-attendance{
    padding: 10px;
}

.student-attendance .header {
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
}

.student-attendance .date{
    padding: 10px;
    border-collapse:  collapse;
    margin-top: 10px;
}

.student-attendance .date .header {
    padding: 10px;
    font-size: 16px;
    background-color: #1565C0;
    color: white;
}

.student-attendance .date span{
    font-weight: bold;
    padding: 10px;
}

.student-attendance .date table td{
    padding: 5px;
    font-weight: bold;
}