<div class="student-attendance">
  <div class="header">
    Frekwencja {{ frequency}} %
  </div>
  <div class="date"  *ngFor="let d of dates">
      <p class="header">
        <span>{{ d[0] }}</span>
        <span>{{ getFrequency(d[1])}}%</span>
      </p>

      <table>
        <tr *ngFor="let a of d[1]">
          <td>{{ a.subject.name }}</td>
          <td>  
            <mat-icon *ngIf="a.present" style="color: green;">done</mat-icon>
            <mat-icon *ngIf="!a.present" style="color: red;">clear</mat-icon>
          </td>
        </tr>
      </table>

  </div>
</div>