<div class="student-attendance">
  <div class="header">
    Frekwencja {{ frequency}} %
  </div>
  <div class="date"  *ngFor="let d of dates">
      <p class="header">
        <span>{{ d[0] }}</span>
        <span>Frekwencja {{ getFrequency(d[1]) }} %</span>
      </p>
      <p *ngFor="let a of d[1]">
        <span>{{ a.subject.name }}</span>
        <span class="absent" *ngIf="!a.present">Nieobecny</span>
        <span class="present" *ngIf="a.present">Obecny</span>
        </p>
  </div>
</div>