/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    overflow: hidden;
}

.custom-dialog-container .mat-dialog-container {
    padding: 0;
    overflow: inherit;
}

button{
    border: none;
    padding: 10px;
    border-radius: 5px;
}

button:disabled{
    opacity: 0.6;
    pointer-events: none;;
}

button.blue{
    background: #1565C0;
    color: white;
}

button.orange{
    background: rgb(240, 165, 27);
    color: white;
}

button:hover{
    opacity: 0.7;
}
