.grade{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #1565c0;
    border-radius: 3px;
    color: white;
}

.grade span{
    font-size: 20px;
}

.grade ::ng-deep .mat-icon{
    width: 15px;
    height: 15px;
}

.grade ::ng-deep .mat-icon:hover{
   color: white;
   cursor: pointer;
}

.grade ::ng-deep .mat-icon.material-icons{
    font-size: 15px;
}

.grade .line-broken-tooltip {
    white-space: pre-line;
  }