.statements{
    padding: 20px;
}

.statements .container{
    width: 100%;
    margin-top: 10px;
}

.statements .container ::ng-deep .message{
    margin-top: 10px;
}

.statements.non-admin{
    padding: 0px;
}

.statements.non-admin .container{
    margin-top: 0px;
}