<mat-grid-list cols="8" rowHeight="100px">
  <mat-grid-tile colspan="1" rowspan="7">
    <button (click)="firstQuestion()" color="accent" mat-fab>
        <img class="navigation" src="img/faFirst.png">
    </button>
    <button color="accent" (click)="previousQuestion()" mat-fab>
        <img class="navigation" src="img/faLeft.png">
    </button>
  </mat-grid-tile>
  <mat-grid-tile colspan="6" rowspan="7" *ngIf="answersLoaded">
    <div class="scrollable">
      <img src="{{images[questionId-1]}}">
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="7">
    <button color="accent" (click)="nextQuestion()" mat-fab>
        <img class="navigation" src="img/faRight.png">
    </button>
    <button (click)="lastQuestion()" color="accent" mat-fab>
        <img class="navigation" src="img/faLast.png">
    </button>
  </mat-grid-tile>

  <mat-grid-tile colspan="8" rowspan="2" class="answers-border">
    <mat-radio-group [(ngModel)]="currentAnswerId" *ngIf="answersLoaded" name="group" class="example-radio-group">
      <mat-radio-button class="example-radio-button" *ngFor="let answer of answers" [value]="answer.id" #radio (change)="addAnswer(radio)">
        {{answer.content}}
      </mat-radio-button>
    </mat-radio-group>
  </mat-grid-tile>
</mat-grid-list>