.grades{
   padding: 10px;
}

.grades .average{
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.grades .average .stripe {
    width: 5px; 
    height: 20px; 
    background-color: red; 
    display: inline-block;
}

.grades .grade-table{
    width: 95%;
    margin: 0 auto;
}

.grades .grade-table td{
    height: 100px;
    padding: 10px;
    border: 1px solid #c6c6c6;
    border-collapse: collapse;
}

.grades .grade-table td.subject{
   width: 20%;
}

.grades .download{
    width: max-content;
    margin: 0 auto;
    margin-top: 20px;
}