<div class="grades">
  <div class="average">
    <span *ngIf="avg">Średnia ocen: {{ avg }}</span> 
    <mat-icon style="color:rgb(240, 27, 27);" matTooltip="Czerwony pasek" *ngIf="avg>4.75">bookmark</mat-icon>
    <mat-icon style="color:rgb(240, 165, 27);" matTooltip="Kwalifikuje się do stypendium" *ngIf="avg>5.1">grade</mat-icon>
  </div>
  <table class="grade-table">
    <tr *ngFor="let s of subjects">
      <td class="subject">{{ s.name }}</td>
      <td>
        <grade *ngFor="let grade of subject2Grades[s.subjectId]" [grade]="grade" [canDelete]="false"></grade>
      </td>
    </tr>
  </table>
  <div class="download" *ngIf="subjects && subjects.length > 0">
    <button class="blue" (click)="download()">Zapisz do pliku</button>
  </div>
  <div class="no-subjects" *ngIf="!subjects || subjects.length == 0">
    Brak danych do wyświetlenia
  </div>
</div>