.post .example-card {
    width: 90%;
    margin: 0 auto;
  }

  .post .example-card textarea{
      width: 100%;
      min-height: 200px;
      resize: none;
  }
  
 .post .example-header-image {
    background-image: url('https://i.ibb.co/PNpJ8t6/a.png');
    background-size: cover;
  }

  .post .example-card .content{
      padding-top: 10px ;
      min-height: 200px;
  }

  .post .example-card ::ng-deep .mat-card-footer{
    padding: 10px;
    font-style: italic;
    text-align: right;
    border-top: 1px solid #c6c6c6;
  }