.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
}

.goodanswer{
  color: green;
}

.wronganswer{
  color: red;
}

mat-grid-tile{
  background-color: lightblue;
}

mat-list-item{
  padding-top: 1px;
}





