<div class="class-view" *ngIf="class">

          <div class="student" *ngFor="let student of class.students">
              <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ student.firstName + " " + student.secondName }}</mat-card-title>
                  </mat-card-header>
                  <mat-card-actions>
                    <button mat-button (click)="onManage(student)">Zarządzaj</button>
                  </mat-card-actions>
                </mat-card>
          </div>    


    
</div>

