.add-user{
   width: 550px;
   overflow-x:hidden ;
}

.add-user .header{
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid grey;
}

.add-user .table-container{
    width: 90%;
    padding: 20px;
}

.add-user .table-container table{
    width: 100%;
}

.add-user .table-container table td{
    padding: 10px;
    width: 50%;
}

.add-user .table-container table td.title{
    width: 30%;
}


.add-user .table-container table td.value{
    width: 60%;
}

.add-user .table-container table td input{
   min-width: 300px;
   display: block;
   margin: 0 auto;;
   border: none;
   padding: 5px;
   border-bottom: 1px solid #1565C0;
}

.add-user .table-container table td.not-valid input{
    border: 1px solid rgb(241, 57, 57);
}

.add-user .table-container table td.picker input{
    background: white;
    border: none;
 }

 .add-user .table-container table td.picker ::ng-deep .mat-input-container{
     min-width: 300px;
 }



.add-user .action{
    width: max-content;
    margin: 0 auto;
    margin-top: 40px;
}

.add-user .action button{
    display: inline-block;
}

.add-user .action button.add{
    background-color: #1565C0;
    color: white;
}

.add-user .action button.cancel{
    background-color: white;
}

.add-user .table-container table td.value ::ng-deep .mat-select{
    width: 300px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    color: white;
}