<div class="add-user">
  <div class="header">
      <p>{{title}}</p>
  </div>
 <div class="table-container">
    <table>
        <tr> 
          <td class="title">Typ użytkownika</td>
          <td class="value">
            <mat-select  [(ngModel)]="user.type">
              <mat-option *ngFor="let type of types" [value]="type">
                  {{ getLabelForType(type) }}
              </mat-option>
            </mat-select>
          </td>
        </tr>
        <tr>
          <td class="title">Imię</td>
          <td class="value"  [ngClass]="{ 'not-valid': !field2Valid['firstName']}"><input type="text" [(ngModel)]="user.firstName"></td>
      </tr>
        <tr> 
          <td class="title">Nazwisko</td>
          <td class="value" [ngClass]="{ 'not-valid': !field2Valid['secondName']}"><input type="text" [(ngModel)]="user.secondName"></td>
        </tr>
        <tr> 
          <td class="title">Login</td>
          <td class="value"  [ngClass]="{ 'not-valid': !field2Valid['login']}"><input type="text" [(ngModel)]="user.login"></td>
        </tr>
        <tr> 
          <td class="title">Hasło</td>
          <td class="value"><input type="password" [(ngModel)]="user.password" minlength="8"></td>
        </tr>
        <tr> 
          <td class="title">E-mail</td>
          <td class="value"  [ngClass]="{ 'not-valid': !field2Valid['email']}"><input type="text" [(ngModel)]="user.email"></td>
        </tr>
        <tr>
          <td class="title">Data urodzenia</td>
          <td class="picker">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" (dateChange)="addEvent('change', $event)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
        </tr>
        <tr *ngIf="user.type == UserType.STUDENT"> 
            <td class="title">Przypisz klasę</td>
            <td class="value">
              <mat-select  [(ngModel)]="user.properties['studentClass']">
                <mat-option *ngFor="let cl of classes" [value]="cl">
                    {{cl.name}}
                </mat-option>
              </mat-select>
            </td>
          </tr>
          <tr *ngIf="user.type == UserType.TEACHER"> 
            <td class="title">Przypisz przedmioty</td>
            <td class="value">
              <mat-select  [(ngModel)]="user.properties['teacherSubjects']" multiple>
                <mat-option *ngFor="let cl of subjects" [value]="cl">
                    {{cl.name}}
                </mat-option>
              </mat-select>
            </td>
          </tr>
          <tr *ngIf="user.type == UserType.PARENT"> 
            <td class="title">Przypisz dzieci</td>
            <td class="value">
              <mat-select  [(ngModel)]="user.properties['children']" multiple>
                <mat-option *ngFor="let cl of students" [value]="cl">
                    {{cl.firstName + ' ' + cl.secondName }}
                </mat-option>
              </mat-select>
            </td>
          </tr>
      </table>
      <div class="action">
          <button class="cancel" type="submit" (click)="onCancel()" mat-raised-button>Anuluj</button>
          <button class="add" type="submit" (click)="onAdd()" (keyup.enter)="onAdd()" mat-raised-button [disabled]="!canAdd()">Dodaj</button>
      </div>
 </div>
</div>