md-grid-tile{
  color: white;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
    
}
  
.example-radio-button {
    margin: 5px;
    border-color: white;
}

.answers-border {
  background-color: #0d47a1;
}

.scrollable
{
  overflow: auto;
  max-width: 1250px;  
  max-height: 850px;
}  

