<div class="class-management">
  <div *ngIf="!selectedClass">
      <div class="actions">
          <button class="blue" (click)="onAddClass()">Add class</button>
      </div>
      <div class="class-container">
          <p *ngFor="let c of classes" (click)="selectClass(c)">
            <span>{{ c.name }}</span>
            <span class="example-spacer"></span>
            <button class="orange" (click)="onAddClass()" style="margin-left: 93%">Remove</button>
          </p>
      </div>
  </div>
  <class-details *ngIf="selectedClass" [selectedClass]="selectedClass" (closeDetails)="closeDetails()"></class-details>
</div>