<div class="class-management">
  <div *ngIf="!selectedClass">
      <div class="actions">
          <button class="blue" (click)="onAddClass()">Dodaj klasę</button>
      </div>
      <div class="class-container">
          <p *ngFor="let c of classes">
            <span>{{ c.name }}</span>
            <button class="blue" (click)="selectClass(c)" style="margin-left: 90%;">Szczegóły</button>
            <button class="orange" (click)="removeClass(c)">Usuń</button>
          </p>
      </div>
  </div>
  <class-details *ngIf="selectedClass" [allClasses]="classes" [selectedClass]="selectedClass" [allTeachers]="teachers" [allStudents]="students"  [allSubjects]="subjects" (closeDetails)="closeDetails()"></class-details>
</div>