<div class="user-row" *ngIf="user">
  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
          {{ headerLabel }}
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <mat-form-field>
      <input placeholder="First name" matInput [(ngModel)]="user.firstName">
    </mat-form-field>
  
    <mat-form-field>
      <input placeholder="Second name" matInput [(ngModel)]="user.secondName">
    </mat-form-field>
  
    <mat-form-field>
      <input placeholder="E-mail" matInput [(ngModel)]="user.email">
    </mat-form-field>
  
    <mat-form-field>
      <input placeholder="Login" matInput [(ngModel)]="user.login">
    </mat-form-field>

    <mat-form-field *ngIf="!passwordChange">
      <input type="password" placeholder="Password" matInput [(ngModel)]="user.password">
    </mat-form-field>
  
    <button *ngIf="passwordChange" class="blue" (click)="onPasswordChange()">Zmień hasło</button>
    <button class="blue" (click)="onSave()">Zapisz</button>
    <button *ngIf="!noDelete" class="orange" (click)="onDelete()">{{ deleteLabel ?  deleteLabel : 'Usuń' }}</button>

    <user-type-details [user]="user" [subjects]="subjects" [classes]="classes" [studentClass]="class" (classChanged)="classChanged($event)"></user-type-details>
        
  </mat-expansion-panel>
</div>